{% extends "base.html" %}



{% block css %}
<link rel="stylesheet" href="/static/css/admin.css">

{% endblock %}


{% block center %}


<!--头部导航-->
<div class="panel panel-default center-top" style="min-width:1300px;">
  <div class="panel-body">
    <ol class="breadcrumb" style="margin-bottom: 0px;background-color: #FFFFFF;">
      <li><a href="/" style="color: #377CD8;">首页</a></li>
      <li><a href="javascript:;">后台管理</a></li>
      <li class="active">{{ title }}</li>
    </ol>
  </div>
</div>



<!--用户信息-->
<div class="panel panel-default center-top" style="min-width:1300px;">
  <div class="panel-heading">
      <div class="row" style="padding-top:5px;padding-left:10px;">
          <div class="col-sm-6">
              <a href="javascript:;" class="btn btn-sm btn-success" data-toggle="modal" data-target="#personModal"> 添加人员 </a>

          </div>

      </div>
  </div>
  <div class="panel-body">
      <table class="table table-hover table-bordered">
          <thead>
            <tr style="background-color: #f5f5f5;">
              <th>序号</th>
              <th>姓名</th>
              <th>籍贯</th>
              <th>居住地</th>
              <th>第二故乡</th>
              <th>部门</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
            {% for i in person_list %}
          <tr name="tbody">
              <td style="padding-top: 20px;">{{ forloop.counter }}</td>
              <td style="padding-top: 20px;">{{ i.name }}</td>
              <td style="padding-top: 20px;">{{ i.hometown__name }}</td>
               <td style="padding-top: 20px;">{{ i.living__name}}</td>
              <td style="padding-top: 20px;">{{ i.visitation__name }}</td>
              <td style="padding-top: 20px;">{{ i.department__name }}</td>
              <td style="padding-top: 20px;">
                  <a href="javascript:;" name="edit-person" person_id="{{ i.id }}" style="text-decoration:none;" data-toggle="tooltip" data-placement="left" title="修改"><span class="fa fa-pencil"></span> </a>&nbsp;&nbsp;&nbsp;
                  <a href="javascript:;" name="del-person"  person_id="{{ i.id }}" style="text-decoration:none;" data-toggle="tooltip" data-placement="right" title="删除"><span class="fa fa-trash"></span> </a>
              </td>
            </tr>
            {% endfor %}

          </tbody>

      </table>

    <div class="text-right" style="margin-top:-30px;padding-right:9%">
      <ul class="pagination" id="pagination"></ul>
    </div>

  </div>
</div>


{% endblock %}


<!-- Modal -->
{% block modal %}

<!--添加用户-->
<div class="modal fade" id="personModal" tabindex="-1" role="dialog" aria-labelledby="personModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="margin-top:135px;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="personModalLabel">添加人员</h4>
      </div>
      <div class="modal-body">

          <div class="form-group">
            <label>姓名</label>
            <input  class="form-control"  placeholder="姓名" id="add-name">
          </div>

           <div class="form-group">
            <label >籍贯</label>
             <select  class="form-control"  id="add-hometown">
                {% for hometown in hometown_list %}
              <option value="{{ hometown.id }}">{{ hometown.name }}</option>
                {% endfor %}
            </select>
          </div>
          <div class="form-group">
            <label >居住地</label>
             <select  class="form-control"  id="add-living">
                {% for living in living_list %}
              <option value="{{ living.id }}">{{ living.name }}</option>
                {% endfor %}
            </select>
          </div>

       <div class="form-group">
            <label >第二故乡</label>
             <select  class="form-control"  id="add-visitation">
                {% for visitation in visitation_list %}
              <option value="{{ visitation.id }}">{{ visitation.name }}</option>
                {% endfor %}
            </select>
          </div>

       <div class="form-group">
            <label >部门</label>
             <select  class="form-control"  id="add-department">
              <!--option value="">--请选择--</option-->
                {% for department in department_list %}
              <option value="{{ department.id }}">{{ department.name }}</option>
                {% endfor %}
            </select>
          </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary" id="add-person">提交</button>
      </div>
    </div>
  </div>
</div>


<!--修改用户信息-->
<div class="modal fade" id="edit-personModal" tabindex="-1" role="dialog" aria-labelledby="edit-personModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="margin-top:135px;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="edit-personModalLabel">修改人员</h4>
      </div>
      <div class="modal-body">

           <div class="form-group">
            <label>姓名</label>
            <input  class="form-control"  placeholder="姓名" id="edit-name">
          </div>

           <div class="form-group">
            <label >籍贯</label>
             <select  class="form-control"  id="edit-hometown">
                {% for hometown in hometown_list %}
              <option value="{{ hometown.id }}">{{ hometown.name }}</option>
                {% endfor %}
            </select>
          </div>
          <div class="form-group">
            <label >居住地</label>
             <select  class="form-control"  id="edit-living">
                {% for living in living_list %}
              <option value="{{ living.id }}">{{ living.name }}</option>
                {% endfor %}
            </select>
          </div>

       <div class="form-group">
            <label >第二故乡</label>
             <select  class="form-control"  id="edit-visitation">
                {% for visitation in visitation_list %}
              <option value="{{ visitation.id }}">{{ visitation.name }}</option>
                {% endfor %}
            </select>
          </div>

       <div class="form-group">
            <label >部门</label>
             <select  class="form-control"  id="edit-department">
              <!--option value="">--请选择--</option-->
                {% for department in department_list %}
              <option value="{{ department.id }}">{{ department.name }}</option>
                {% endfor %}
            </select>
          </div>
      </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary" id="sub-edit-person">提交</button>
      </div>
    </div>
  </div>
</div>

{% endblock  %}


{% block js %}

<script type="text/javascript" src="/static/js/auth_v2.js"></script>
<script type="text/javascript" src="/static/js/news.js"></script>
<script>

</script>

{% endblock %}



